body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    line-height: 1.5;
}

h1 {
    width: 100%;
    margin: 0;
    background-color: #B61919;
    text-align: center;
    font-size: 50px;
}

h2 {
    width: 100%;
    font-size: 20px;
    text-align: center;
}

h3 {
    width: 100%;
    font-size: 15px;
    text-align: center;
}

a {
    text-decoration: none;
    color: #212121;
}

a:hover {
    color: #FDEFEF;
}

img {
    width: 100%;
}

footer {
    background-color: #112031;
    color: #fff;
}

footer p {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0px;
    padding-bottom: 10px;
}

footer a {
    color: #fff;
}

footer a:hover {
    color: crimson;
}

#hamb {
    width: 35px;
    height: 35px;
}

.hamb-menu {
    display: flex;
    width: 100%;
    background-color: #112031;
    text-align: left;  
}

.portal-info {
    display: flex;
    flex-direction: column;
    background-color: #B61919;
    text-align: center;
}

.portal-info time {
    font-size: 18px;
    text-transform: uppercase;
}

.navbar {
    display: none;
}

.main-news {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #BD4B4B;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.left-news {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #BD4B4B;
}

.publicity {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #BD4B4B;
}

.newsletter-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sub-button {
    height: 30px;
    border: none;
    background-color: orange;
}

.social-media {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (min-width: 768px) {
    .news {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .main-news {
        display: flex;
        flex-basis: 54%;
        order: 2;
        flex-direction: column;
        flex: 1;
        padding: 0px 15px;
        border-right: #112031 solid 1px;

    }

    .left-news {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        flex-basis: 40%;
        order: 1;
        padding: 0px 5px;
        border-right: #112031 solid 1px;
    }

    .publicity {
        flex-basis: 100%;
        order: 3;
    }
}

@media screen and (min-width: 1024px) {
    .navbar{
        display: flex;
        justify-content: space-around;
        width: 100%;
        font-size: 20px;
        font-weight: bold;
        background-color: #112031;
    }

    .navbar a {
        color: #fff;
    }

    .navbar a:hover {
        color: crimson;
    }

    .hamb-menu{
        display: none;
    }

    .news{
        display: flex;
        flex-direction: row;
        width: 100%;
    }

    .main-news{
        display: flex;
        width: 50%;
        order: 2;
        flex-direction: column;
        flex: 2;
        padding: 0px 15px;
        border-right: #112031 solid 1px;
    }

    .publicity{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        order: 3;
        flex: 1;
        width: 20%;
        padding: 0px 5px;
    }

    .left-news{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 20%;
        order: 1;
        flex: 1;
        padding: 0px 5px;
        border-right: #112031 solid 1px;
    }

    .container{
        display: flex;
        flex-wrap: wrap;
        text-align: center;
    }

    .footer-container {
        display: flex;
        justify-content: space-around;
    }

    .footer-container p {
        align-self: center;
    }

    .social-media {
        margin-bottom: 20px;
    }
}