main {
    background-color: #BD4B4B;
    line-height: 1.5;
}

h2 {
    margin: 0px;
    padding-top: 15px;
    font-size: 25px;
}

h3 {
    font-size: 20px;
}

.group-column input {
    width: 100%;
    height: 40px;
}

#formulary {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#name-error {
    display: none;
}

#email-error {
    display: none;
}

#password-error {
    display: none;
}

#repeat-password-error {
    display: none;
}

#age-error {
    display: none;
}

#phonenumb-error {
    display: none;
}

#adress-error {
    display: none;
}

#city-error {
    display: none;
}

#postal-code-error {
    display: none;
}

#dni-error {
    display: none;
}

.group-column {
    display: flex;
    flex-direction: column;
    margin: 10px 50px;
}

.column-one {
    width: 40%;
}

.column-two {
    width: 40%;
}

.form-button {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#send-button {
    display: block;
    border: none;
    width: 20%;
    background-color: #112031;
    color: #fff;
    height: 40px;
    font-weight: bold;
    margin: 20px 0px;
    border-radius: 2px;
    cursor: pointer;
}

#send-button:hover {
    background-color:mediumseagreen;
}
