main {
    background-color: #BD4B4B;
    line-height: 1.5;
}

h2 {
    margin: 0px;
    padding-top: 15px;
    font-size: 25px;
}

h3 {
    font-size: 20px;
}

.group-column input {
    width: 100%;
    height: 40px;
}

#tittles {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#formulary {
    display: flex;
    flex-direction: column;
}

#name-error {
    display: none;
}

#email-error {
    display: none;
}

#password-error {
    display: none;
}

#repeat-password-error {
    display: none;
}

#age-error {
    display: none;
}

#phonenumb-error {
    display: none;
}

#adress-error {
    display: none;
}

#city-error {
    display: none;
}

#postal-code-error {
    display: none;
}

#dni-error {
    display: none;
}

.group-column {
    display: flex;
    flex-direction: column;
    margin: 10px 50px;
}

.column-one {
    width: 100%;
}

.column-two {
    width: 100%;
}

.form-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 50px;
    padding-left: 5px;
}

#send-button {
    display: block;
    border: none;
    width: 50%;
    background-color: #112031;
    color: #fff;
    height: 40px;
    font-weight: bold;
    border-radius: 2px;
    cursor: pointer;
}

#send-button:hover {
    background-color:mediumseagreen;
}

@media screen and (min-width: 768px) {
    .form-container {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .column-one {
        width: 40%;
    }

    .column-two {
        width: 40%;
    }

    #send-button {
        display: block;
        border: none;
        width: 20%;
        background-color: #112031;
        color: #fff;
        height: 40px;
        font-weight: bold;
        margin: 20px 0px;
        border-radius: 2px;
        cursor: pointer;
    }

    .hidden {
        visibility:hidden;
    }

    #my-modal {
        position: fixed;
        z-index: 1;
        top: 25%;
        height: 100%;
        width:100%; 
    }

    .modal-container {
        position: relative;
        display: flex;
        flex-direction: column;
        background-color: #fefefe;
        margin: auto;
        padding: 20px;
        border: 1px solid #112031;
        border-radius: 5px;
        width: 45%; 
        height: 50%;

    }

    #modal-button {
        position: absolute;
        top: 20px;
        right: 10px;
        width: 30px;
        height: 30px;
        color: #112031;
        font-weight: bold;
        cursor: pointer;
    }
    








}